@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: "Karla", sans-serif;
    background-color: hsl(204, 43%, 93%);
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 1.1rem;
}

#amount {
    font-size: 2rem;
    font-weight: 600;
}

button {
    padding: 0.9rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    border: none;
    color: white;
    background-color: hsl(71, 73%, 54%);
}

#top-section,
#lower-section section {
    padding: 2.5rem;
}

#top-section {
    background-color: hsl(0, 0%, 98%);
}

main {
    max-width: 40.625rem;
    width: 95%;
}

section {
    /* border: 1px solid red; */
}

#lower-section {
    display: flex;
}

#lower-section section {
    width: 100%;
}

button {
    width: 100%;
}

#top-section p {
    line-height: 1.65rem;
    color: hsl(218, 22%, 67%);
}

ul {
    list-style: none;
    padding: 0;
    line-height: 1.25rem;
    font-size: 0.9rem;
}

#top-section h2 {
    color: hsl(71, 73%, 54%);
}

h1 {
    color: hsl(179, 62%, 43%);
}

#lower-section section:first-of-type {
    background-color: hsl(179, 62%, 43%);
    color: hsl(0, 0%, 98%);
}

#lower-section section:last-of-type {
    background-color: hsl(179, 62%, 47%);
    color: hsl(0, 0%, 98%);
}

span#dark {
    color: hsla(0, 0%, 98%, 0.7);
}

li {
    color: hsla(0, 0%, 98%, 0.8);
}