@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: "Karla", sans-serif;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 1.1rem;
}

#amount {
    font-size: 2rem;
    font-weight: 600;
}

button {
    padding: 0.9rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    border: none;
    color: white;
    background-color: hsl(71, 73%, 54%);
}

#top-section,
#lower-section section {
    padding: 2.5rem;
}

main {
    max-width: 40.625rem;
    width: 95%;
}

section {
    border: 1px solid red;
}

#lower-section {
    display: flex;
}

#lower-section section {
    width: 100%;
}

button {
    width: 100%;
}

#top-section p {
    line-height: 1.65rem;
}

ul {
    list-style: none;
    padding: 0;
    line-height: 1.25rem;
    font-size: 0.9rem;
}